In [164]:
import pandas as pd
from Bio import SeqIO
import tqdm

In [165]:
def fasta_2_csv(fasta_file):
    sequence_id = []
    sequence = []
    for record in SeqIO.parse(fasta_file, "fasta"):
        sequence_id.append(record.id)
        sequence.append(str(record.seq))
    return(pd.DataFrame({'id':sequence_id,'seq':sequence}))

In [166]:
llps_record_75 = SeqIO.parse('./cleaned_data/llps_data_cleaned_cdhit75.fasta',"fasta")
llps_record_85 = SeqIO.parse('./cleaned_data/llps_data_cleaned_cdhit85.fasta',"fasta")
llps_record_90 = SeqIO.parse('./cleaned_data/llps_data_cleaned_cdhit90.fasta',"fasta")

In [167]:
llps_df_75 = fasta_2_csv('./cleaned_data/llps_data_cleaned_cdhit75.fasta')
llps_df_85 = fasta_2_csv('./cleaned_data/llps_data_cleaned_cdhit85.fasta')
llps_df_90 = fasta_2_csv('./cleaned_data/llps_data_cleaned_cdhit90.fasta')

In [168]:
llps_df_75

           id                                                seq
0      O43670  MAMSSLGCLCALTVLIRYCNRDFDDEKILIQHQKAKHFKCHICHKK...
1      Q13148  MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...
2      O43561  MEATAASWQVAVPVLGGASRPLGPRGAASLLRAPLQMEEAILVPCV...
3      Q9GZQ8  MPSEKTFKQRRTFEQRVEDVRLIREQHPTKIPVIIERYKGEKQLPV...
4      Q5FBB7  MAKERCLKKSFQDSLEDIKKRMKEKRNKNLAEIGKRRSFIAAPCQI...
..        ...                                                ...
523   NU_1326  MESNQSNNGGSGNAALNRGGRYVPPHLRGGDGGAAAAASAGGDDRR...
524   NU_1327  MSYYHHHHHHDYDIPTTENLYFQGAMEGLNDIFEAQKIEWHEMSDS...
525    P10997  MGILKLQVFLIVLSVALNHLKATPIESHQVEKRKCNTATCATQRLA...
526  P10636-8  MAEPRQEFEVMEDHAGTYGLGDRKDQGGYTMHQDQEGDTDAGLKAE...
527    P52948  MFNKSFGTPFGGGTGGFGTTSTFGQNTGFGTTSGGAFGTSAFGSSN...

[528 rows x 2 columns]

In [169]:
llps_df_85

           id                                                seq
0      O43670  MAMSSLGCLCALTVLIRYCNRDFDDEKILIQHQKAKHFKCHICHKK...
1      P09651  MSKSESPKEPEQLRKLFIGGLSFETTDESLRSHFEQWGTLTDCVVM...
2      Q13148  MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...
3      O43561  MEATAASWQVAVPVLGGASRPLGPRGAASLLRAPLQMEEAILVPCV...
4      Q9GZQ8  MPSEKTFKQRRTFEQRVEDVRLIREQHPTKIPVIIERYKGEKQLPV...
..        ...                                                ...
555   NU_1326  MESNQSNNGGSGNAALNRGGRYVPPHLRGGDGGAAAAASAGGDDRR...
556   NU_1327  MSYYHHHHHHDYDIPTTENLYFQGAMEGLNDIFEAQKIEWHEMSDS...
557    P10997  MGILKLQVFLIVLSVALNHLKATPIESHQVEKRKCNTATCATQRLA...
558  P10636-8  MAEPRQEFEVMEDHAGTYGLGDRKDQGGYTMHQDQEGDTDAGLKAE...
559    P52948  MFNKSFGTPFGGGTGGFGTTSTFGQNTGFGTTSGGAFGTSAFGSSN...

[560 rows x 2 columns]

In [170]:
llps_df_90

           id                                                seq
0      O43670  MAMSSLGCLCALTVLIRYCNRDFDDEKILIQHQKAKHFKCHICHKK...
1      P09651  MSKSESPKEPEQLRKLFIGGLSFETTDESLRSHFEQWGTLTDCVVM...
2      Q13148  MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...
3      O43561  MEATAASWQVAVPVLGGASRPLGPRGAASLLRAPLQMEEAILVPCV...
4      Q9GZQ8  MPSEKTFKQRRTFEQRVEDVRLIREQHPTKIPVIIERYKGEKQLPV...
..        ...                                                ...
577   NU_1326  MESNQSNNGGSGNAALNRGGRYVPPHLRGGDGGAAAAASAGGDDRR...
578   NU_1327  MSYYHHHHHHDYDIPTTENLYFQGAMEGLNDIFEAQKIEWHEMSDS...
579    P10997  MGILKLQVFLIVLSVALNHLKATPIESHQVEKRKCNTATCATQRLA...
580  P10636-8  MAEPRQEFEVMEDHAGTYGLGDRKDQGGYTMHQDQEGDTDAGLKAE...
581    P52948  MFNKSFGTPFGGGTGGFGTTSTFGQNTGFGTTSGGAFGTSAFGSSN...

[582 rows x 2 columns]

In [171]:
def split_dataset(df,val=False,split_size = 0.2):
    from sklearn.model_selection import train_test_split


    # 随机划分DataFrame
    train_df, test_df = train_test_split(df, test_size=split_size, random_state=42)
    if(val):
        train_df, val_df = train_test_split(train_df, test_size=0.2, random_state=42)
        return train_df,val_df,test_df
    else:
        return train_df,test_df

In [172]:
train_llps_df,test_llps_df = split_dataset(llps_df_75)

In [173]:
train_llps_df

          id                                                seq
524  NU_1327  MSYYHHHHHHDYDIPTTENLYFQGAMEGLNDIFEAQKIEWHEMSDS...
155   Q12163  MATMETTTQKDTNILKSGLKKTIGVLNEAVLQNGREVEAVQAGNSD...
369   A7MCY6  MESMFEDDISILTQEALGPSEVWLDSPGDPSLGGDMCSASHFALIT...
69    Q9P805  MEDENILRNAVNLQVLKFHYPEIESIIDIASHVAVYQFDVGSQKWL...
367   P01106  MDFFRVVENQQPPATMPLNVSFTNRNYDLDYDSVQPYFYCDEEENF...
..       ...                                                ...
71    Q09737  MSGDILVGEYLFKRLEQLGVKSILGVPGDFNLALLDLIEKVGDEKF...
106   Q9UN86  MVMEKPSPLLVGREFVRQYYTLLNKAPEYLHRFYGRNSSYVHGGVD...
270   P62877  MAAAMDVDTPSGTNSGAGKKRFEVKKWNAVALWAWDIVVDNCAICR...
435   P32588  RETSDRVLYVGNLDKAITEDILKQYFQVGGPIANIKIMIDKNNKNV...
102   P35972  MATLLRSLALFKRNKDKPPITSGSGGAIRGIKHIIIVPIPGDSSIT...

[422 rows x 2 columns]

In [174]:
test_llps_df

         id                                                seq
158  Q03513  MPSPTTVPVATAGRLAEPYIDPAAQVHAIASIIGDVRIAAGVRVAA...
395  P49721  MEYLIGIQGPDYVLVASDRVAASNIVQMKDDHDKMFKMSEKILLLC...
6    Q13151  MENSQLCKLFIGGLNVQTSESGLRGHFEAFGTLTDCVVVVNPQTKR...
417  P00925  MAVSKVYARSVYDSRGNPTVEVELTTEKGVFRSIVPSGASTGVHEA...
79   H0WFA5  MEGINNNSQPMGVGQPHHPVNHTRPFFYVQPPSQPYFMYQWPMNPY...
..      ...                                                ...
507  P35637  MAANDYTQQATQAYGAYPTQPGQGYAQQAAQPYGQQAYAGYAQATD...
244  P10233  MTSRRSVKSGPREVPRDEYEDLYYTPSSGMASPDSPPDTSRRGALQ...
184  Q04206  MDELFPLIFPAEPAQASGPYVEIIEQPKQRGMRFRYKCEGRSAGSI...
320  Q9H6S1  MDALVEDDICILNHEKAHKRDTVTPVSIYSGDESVASHFALVTAYE...
261  Q99551  MQSLSLGQTSISKGLNYLTIMAPGNLWHMRNNFLFGSRCWMTRFSA...

[106 rows x 2 columns]

In [175]:
negative_df = fasta_2_csv('./cleaned_data/negative_data_cdhit75.fasta')

In [176]:
negative_df

                 id                                                seq
0            P49913  MKTQRDGHSLGRWSLVLLLLGLVMPLAIIAQVLSYKEAVLRAIDGI...
1            P03045  MDAQTRRRERRAEKQAQWKAANPLLVGVSAKPVNRPILSLNRKPKS...
2            P00004  MGDVEKGKKIFVQKCAQCHTVEKGGKHKTGPNLHGLFGRKTGQAPG...
3            P27695  MPKRGKKGAVAEDGDELRTEPEAKKSKTAAKKNDKEAAGEGPALYE...
4            Q64693  MLWQKSTAPEQAPAPPRPYQGVRVKEPVKELLRRKRGHTSVGAAGP...
...             ...                                                ...
3572  Insoluble_992  MGSDKIHHHHHHMHSLLPFRFLFHWEMQAIGVAEMSMLVVVTENVP...
3573  Insoluble_993  MGSDKIHHHHHHVMKLTVLQQAIRLLAYRRMFLTNLTPVDQVRTLI...
3574  Insoluble_994  MGSDKIHHHHHHMKKTIQSVGVWGDSIMKGVLFNPEKNRYTLLKNN...
3575  Insoluble_995  KELESIDNDNTLTTDEKAAAKKKVNDAYDVAKQTAMEANSYEDLTT...
3576  Insoluble_997  MSLESHSLYFPRNLQLPEGEVDLQLDTMRLEDRPGRQTVPVTVLVD...

[3577 rows x 2 columns]

In [177]:
Insoluble_df = negative_df[negative_df['id'].str.startswith('Insoluble')]
Structure_df = negative_df[negative_df['id'].str.startswith('Structure')]
Disport_df = negative_df[~negative_df.isin(Insoluble_df).any(axis=1)  & ~negative_df.isin(Structure_df).any(axis=1)].dropna()

In [178]:
Insoluble_df

                 id                                                seq
3008    Insoluble_0  MQQVRQSPQSLTVWEGETAILNCSYENSAFDYFPWYQQFPGEGPAL...
3009    Insoluble_1  DDAENIEYKVSISGTSVELTCPLDSDENLKWEKNGQELPQKHDKHL...
3010    Insoluble_2  GGIAIYWGQNGNEGTLTQTCSTRKYSYVNIAFLNKFGNGQTPQINL...
3011    Insoluble_3  ATSTVTGGYAQSDAQGQMNKMGGFNLKYRYEEDNSPLGVIGSFTYT...
3012    Insoluble_5  MKIFSKCELARKLKSMGMDGFHGYSLANWVCMAEYESNFNTQAFNG...
...             ...                                                ...
3572  Insoluble_992  MGSDKIHHHHHHMHSLLPFRFLFHWEMQAIGVAEMSMLVVVTENVP...
3573  Insoluble_993  MGSDKIHHHHHHVMKLTVLQQAIRLLAYRRMFLTNLTPVDQVRTLI...
3574  Insoluble_994  MGSDKIHHHHHHMKKTIQSVGVWGDSIMKGVLFNPEKNRYTLLKNN...
3575  Insoluble_995  KELESIDNDNTLTTDEKAAAKKKVNDAYDVAKQTAMEANSYEDLTT...
3576  Insoluble_997  MSLESHSLYFPRNLQLPEGEVDLQLDTMRLEDRPGRQTVPVTVLVD...

[569 rows x 2 columns]

In [179]:
Structure_df

                  id                                                seq
1585     Structure_0  YKVTLKTPSGEETIECPEDTYILDAAEEAGLDLPYSCRAGACSSCA...
1586     Structure_1  MKVTKSEIVISAVKPEQYPEGGLPEIALAGRSNVGKSSFINSLINR...
1587     Structure_2  MAAAVPQRAWTVEQLRSEQLPKKDIIKFLQEHGSDSFLAEHKLLGN...
1588     Structure_3  MYQLQFINLVYDTTKLTHLEQTNINLFIGNWSNHQLQKSICIRHGD...
1589     Structure_4  SQSVVATQLIPMNTALTPVMMEGKVTNPIGIPFAEMSQIVGKQVNT...
...              ...                                                ...
3003  Structure_1548  MKKKIGLLVMAYGTPYKEEDIERYYTHIRRGRKPSPEMLEDLTERY...
3004  Structure_1549  MENNEIQSVLMNALSLQEVHVSGDGSHFQVIAVGELFDGMSRVKKQ...
3005  Structure_1550  MDDDIAALVVDNGSGMCKAGFAGDDAPRAVFPSIVGRPRHQGVMVG...
3006  Structure_1551  MSKVSFKITLTSDPRLPYKVLSVPESTPFTAVLKFAAEEFKVPAAT...
3007  Structure_1552  MDEILARAGIFQGVEPSAIAALTKQLQPVDFPRGHTVFAEGEPGDR...

[1423 rows x 2 columns]

In [180]:
Disport_df

              id                                                seq
0         P49913  MKTQRDGHSLGRWSLVLLLLGLVMPLAIIAQVLSYKEAVLRAIDGI...
1         P03045  MDAQTRRRERRAEKQAQWKAANPLLVGVSAKPVNRPILSLNRKPKS...
2         P00004  MGDVEKGKKIFVQKCAQCHTVEKGGKHKTGPNLHGLFGRKTGQAPG...
3         P27695  MPKRGKKGAVAEDGDELRTEPEAKKSKTAAKKNDKEAAGEGPALYE...
4         Q64693  MLWQKSTAPEQAPAPPRPYQGVRVKEPVKELLRRKRGHTSVGAAGP...
...          ...                                                ...
1580      P0DOF3  MDADKIVFKVNNQVVSLKPEIIVDQHEYKYPAIKDLKKPCITLGKA...
1581      F0TTD6  MSLLTEVETYVLSIIPSGPLKAEIAQRLEDVFAGKNTDLEVLMEWL...
1582  A0A2Z5UJ33  MATKGTKRSYEQMETDGERQNATEIRASVGKMIDGIGRFYIQMCTE...
1583      P03496  MDPNTVSSFQVDCFLWHVRKRVADQELGDAPFLDRLRRDQKSLRGR...
1584      F8UU09  MNPNQKIITIGSVCMTIGMANLILQIGNIISIWISHSIQLGNQNQI...

[1585 rows x 2 columns]

In [181]:
negative_test = pd.concat([Disport_df.sample(90,replace=False),Insoluble_df.sample(90,replace=False),Structure_df.sample(90,replace=False)])
negative_train = negative_df[~negative_df.isin(negative_test)].dropna()
negative_test

                  id                                                seq
1242          Q14019  MATKIDKEACRAAYNLVRDDGSAVIWVTFKYDGSTIVPGEQGAEYQ...
259           P0AFX7  MQKEQLSALMDGETLDSELLNELAHNPEMQKTWESYHLIRDSMRGD...
79            P0A7S3  MATVNQLVRKPRARKVAKSNVPALEACPQKRGVCTRVYTTTPKKPN...
137           Q12287  MTETDKKQEQENHAECEDKPKPCCVCKPEKEERDTCILFNGQDSEK...
280           Q24246  MDRKAELERKKAKLAALREEKDRRRREKEIKDMEEAAGRIGGGAGI...
...              ...                                                ...
2726  Structure_1241  MKVLYFAEIKDILQKAQEDIVLEQALTVQQFEDLLFERYPQINNKK...
2982  Structure_1524  MKITAARVIITCPGRNFVTLKIETDQGVYGIGDATLNGRELSVVAY...
2244   Structure_726  MVKQIESKTAFQEALDAAGDKLVVVDFSATWCGPCKMIKPFFHSLS...
1945   Structure_406  MARMHARKRGKSGSKRPPRTAPPIWVEYTVEEIENLVVKLRKEGYS...
1944   Structure_405  MAQNNENALPDITKSITLEAPIQKVWETVSTSEGIAKWFMPNDFQL...

[270 rows x 2 columns]

In [182]:
negative_test1 = pd.concat([negative_test[:40],negative_test[90:130],negative_test[180:220]])
negative_test1

                  id                                                seq
1242          Q14019  MATKIDKEACRAAYNLVRDDGSAVIWVTFKYDGSTIVPGEQGAEYQ...
259           P0AFX7  MQKEQLSALMDGETLDSELLNELAHNPEMQKTWESYHLIRDSMRGD...
79            P0A7S3  MATVNQLVRKPRARKVAKSNVPALEACPQKRGVCTRVYTTTPKKPN...
137           Q12287  MTETDKKQEQENHAECEDKPKPCCVCKPEKEERDTCILFNGQDSEK...
280           Q24246  MDRKAELERKKAKLAALREEKDRRRREKEIKDMEEAAGRIGGGAGI...
...              ...                                                ...
2717  Structure_1232  MYTAEQKARIKWACRRGMLELDVVIMPFFEECFDSLTESEQDDFVA...
2486   Structure_986  MKKDIHPKYEEITASCSCGNVMKIRSTVGHDLNLDVCSKCHPFFTG...
2492   Structure_992  MIISSLTNPNFKVGLPKVIAEVCDYLNTLDLNALENGRHDINDQIY...
2227   Structure_706  MASLIQVRDLLALRGRMEAAQISQTLNTPQPMINAMLQQLESMGKA...
2767  Structure_1284  MSAGKLPEGWVIAPVSTVTTLIRGVTYKKEQAINYLKDDYLPLIRA...

[120 rows x 2 columns]

In [183]:
negative_test2 = negative_test[~negative_test.isin(negative_test1)].dropna()
negative_test2

                  id                                                seq
767           Q80ZV0  MAGGRDRGDLAARQLVFLLPEHLKDASKKKKKSSLLFVKLANPHSG...
1043          P82804  MSTYLQSSEGKFIPATKRPDGTWRKARRVKDGYVPQEEVPLYESKG...
371           O15273  MATSELSCEVSEENCERREAFWAEWKDLTLSTRPEEGCSLHEEDTQ...
520           P0A6X3  MAKGQSLQDPFLNALRRERVPVSIYLVNGIKLQGQIESFDQFVILL...
1005          Q92905  MAASGSGMAQKTWELANNMQEAQSIDEIYKYDKKQQQEILAAKPWT...
...              ...                                                ...
2726  Structure_1241  MKVLYFAEIKDILQKAQEDIVLEQALTVQQFEDLLFERYPQINNKK...
2982  Structure_1524  MKITAARVIITCPGRNFVTLKIETDQGVYGIGDATLNGRELSVVAY...
2244   Structure_726  MVKQIESKTAFQEALDAAGDKLVVVDFSATWCGPCKMIKPFFHSLS...
1945   Structure_406  MARMHARKRGKSGSKRPPRTAPPIWVEYTVEEIENLVVKLRKEGYS...
1944   Structure_405  MAQNNENALPDITKSITLEAPIQKVWETVSTSEGIAKWFMPNDFQL...

[150 rows x 2 columns]

In [184]:
negative_train

                 id                                                seq
0            P49913  MKTQRDGHSLGRWSLVLLLLGLVMPLAIIAQVLSYKEAVLRAIDGI...
1            P03045  MDAQTRRRERRAEKQAQWKAANPLLVGVSAKPVNRPILSLNRKPKS...
2            P00004  MGDVEKGKKIFVQKCAQCHTVEKGGKHKTGPNLHGLFGRKTGQAPG...
3            P27695  MPKRGKKGAVAEDGDELRTEPEAKKSKTAAKKNDKEAAGEGPALYE...
4            Q64693  MLWQKSTAPEQAPAPPRPYQGVRVKEPVKELLRRKRGHTSVGAAGP...
...             ...                                                ...
3572  Insoluble_992  MGSDKIHHHHHHMHSLLPFRFLFHWEMQAIGVAEMSMLVVVTENVP...
3573  Insoluble_993  MGSDKIHHHHHHVMKLTVLQQAIRLLAYRRMFLTNLTPVDQVRTLI...
3574  Insoluble_994  MGSDKIHHHHHHMKKTIQSVGVWGDSIMKGVLFNPEKNRYTLLKNN...
3575  Insoluble_995  KELESIDNDNTLTTDEKAAAKKKVNDAYDVAKQTAMEANSYEDLTT...
3576  Insoluble_997  MSLESHSLYFPRNLQLPEGEVDLQLDTMRLEDRPGRQTVPVTVLVD...

[3307 rows x 2 columns]

In [185]:
llpsdb_d = pd.read_csv('./cleaned_data/llpsdb_d.csv')
llpsdb_d = llpsdb_d[['id','seq']]
llpsdb_d

             id                                                seq
0    LLPS000480           GRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGR
1    LLPS000481           PRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPR
2    LLPS000482  PRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPR...
3    LLPS000534             QGTFTSDKESKYLDERAAQDFVQWLLDGGPSSGAPPPS
4    LLPS000625  AVPGVGAVPGVGAVPGVGAVPGVGAVPGVGAVPGVGAVPGVGAVPG...
..          ...                                                ...
119  LLPS002696                          KGKGGKGKGGKGKGGKGKGGKGKGG
120  LLPS002738  SKGPGRGDQPYQGRGDQPYQGRGDQPYQGRGDQPYQGRGDQPYQGR...
121  LLPS002747  SKGPGRGDSPYSGRGDSPYSGRGDSPYSGRGDSPYSGRGDSPYSGR...
122  LLPS002745  SKGPGRGDSPYQGRGDSPYQGRGDSPYQGRGDSPYQGRGDSPYQGR...
123  LLPS002741  SKGPGRGDQPYSGRGDQPYSGRGDQPYSGRGDQPYSGRGDQPYSGR...

[124 rows x 2 columns]

In [186]:
test_llps_df['label'] = 1
llpsdb_d['label'] = 1
negative_test1['label'] = 0
negative_test2['label'] = 0
test_data1 = pd.concat([test_llps_df,negative_test1])
test_data2 = pd.concat([llpsdb_d,negative_test2])
test_data1.to_csv('./dataset2.0/test_data1_2023-6-9_15_31.csv',index=False)
test_data2.to_csv('./dataset2.0/test_data2_2023-6-9_15_31.csv',index=False)

In [187]:
train_llps_df['label'] = 1
negative_train['label'] = 0
train_llps_df.to_csv('./dataset2.0/positive_train_422.csv',index=False)
negative_train.to_csv('./dataset2.0/negative_train_3307.csv',index=False)