In [294]:
import pandas as pd

In [295]:
LLPS_data = pd.read_csv('./DATA_LLPS.csv')
DisPort_data = pd.read_csv('./Disport.csv')
Insoluble_data = pd.read_csv('./insoluble.csv')
Structure_data = pd.read_csv('./Data_with_structre.csv')
LLPSDB_D_data = pd.read_csv('./LLPSDB_design.csv')

In [296]:
Structure_data['id'] = ['Structure_{}'.format(index) for index,_ in enumerate(list(Structure_data['seq']))]

In [297]:
def get_sequence(fasta):
    import re
    array = fasta.split('\n')
    header, sequence = array[0].split()[0], re.sub('[^ACDEFGHIKLMNPQRSTUVWY-]', '-', ''.join(array[1:]).upper())
    return sequence
LLPSDB_D_data['seq'] = LLPSDB_D_data['Sequence'].apply(get_sequence)

In [298]:
LLPS_data['seq']

0       MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1       MAMSSLGCLCALTVLIRYCNRDFDDEKILIQHQKAKHFKCHICHKK...
2       MSKSESPKEPEQLRKLFIGGLSFETTDESLRSHFEQWGTLTDCVVM...
3       MAEPRQEFEVMEDHAGTYGLGDRKDQGGYTMHQDQEGDTDAGLKES...
4       MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...
                              ...
1473                            KGKGGKGKGGKGKGGKGKGGKGKGG
1474    SKGPGRGDQPYQGRGDQPYQGRGDQPYQGRGDQPYQGRGDQPYQGR...
1475    SKGPGRGDSPYSGRGDSPYSGRGDSPYSGRGDSPYSGRGDSPYSGR...
1476    SKGPGRGDSPYQGRGDSPYQGRGDSPYQGRGDSPYQGRGDSPYQGR...
1477    SKGPGRGDQPYSGRGDQPYSGRGDQPYSGRGDQPYSGRGDQPYSGR...
Name: seq, Length: 1478, dtype: object

### 从LLPS 数据集中去除掉人工设计的序列
将这部分序列作为独立的测试集

In [299]:
LLPS_data = LLPS_data[~LLPS_data['seq'].isin(list(LLPSDB_D_data['seq']))]
LLPS_data

      UniProt ID                                                seq
0         P35637  MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1         O43670  MAMSSLGCLCALTVLIRYCNRDFDDEKILIQHQKAKHFKCHICHKK...
2         P09651  MSKSESPKEPEQLRKLFIGGLSFETTDESLRSHFEQWGTLTDCVVM...
3         P10636  MAEPRQEFEVMEDHAGTYGLGDRKDQGGYTMHQDQEGDTDAGLKES...
4         Q13148  MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...
...          ...                                                ...
1349      Q9NRR5  LPVFLQQMQNPESLSILTNPRAMQALLQIQQGLQTLQTEAPGLVPS...
1350      K7DPS7  MASNEYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1351      D0PV95  MESNQSNNGGSGNAALNRGGRYVPPHLRGGDGGAAAAASAGGDDRR...
1352      P35637  MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1353  A0A0G2UHG9  AAQGANAVHNDAAQSHSALAAANTFGHGHAPYAAYGHGVYGHGPYG...

[1354 rows x 2 columns]

In [300]:
null_rows =LLPS_data[LLPS_data['UniProt ID'].isnull()]
null_rows

     UniProt ID                                                seq
857         NaN  MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
915         NaN  SGKKTKRTADSSSSEDEEEYVVEKVLDRRVVKGKVEYLLKWKGFSD...
947         NaN  MGNLKVEFYNSNPSDTTNSINPQFKVTNTGSSAIDLSKLTLRYYYT...
948         NaN  MGNLKVEFYNSNPSDTTNSINPQFKVTNTGSSAIDLSKLTLRYYYT...
949         NaN  MGNLKVEFYNSNPSDTTNSINPQFKVTNTGSSAIDLSKLTLRYYYT...
952         NaN  QACSSVWGQCGGQNWSGPTCCASGSTCVYSNDYYSQCLPGASTSTG...
1016        NaN  MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...
1017        NaN  MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...
1018        NaN  MSSAVGPRGPRPPTVPPPMQELPDLSHLTEEERNIIMAVMDRQKEE...
1029        NaN  MVSKGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLK...
1155        NaN  MSYSNGNINCDIMPTISEDGVDNGGPIDEPSDRDNIEQLMMNMLED...
1156        NaN  MSYSNGNINCDIMPTISEDGVDNGGPIDEPSDRDNIEQLMMNMLED...
1157        NaN  MSYSNGNINCDIMPTISEDGVDNGGPIDEPSDRDNIEQLMMNMLED...
1158        NaN  MSYSNGNINCDIMPTISEDGVDNGGPIDEPSDRDNIEQLMMNMLED...
1185        NaN  LTPEVIVTPSPVASPTPPPQVGRILGQVTDSETSAGINGATVSLDT...
1186        NaN  VTPTPGVTPTPTGVGRILGQVTDSISGAGINGAAVSLDTGEQTVTS...
1207        NaN  MNPASAPPPLPPPGQQVIHVTQDLDTDLEALFNSVMNPKPSSWRKK...
1208        NaN  MDPGQQPPPQPAPQGQGQPPSQPPQGQGPPSGPGQPAPAATQAAPQ...
1209        NaN  MDPGQQPPPQPAPQGQGQPPSQPPQGQGPPSGPGQPAPAATQAAPQ...
1210        NaN  MDPGQQPPPQPAPQGQGQPPSQPPQGQGPPSGPGQPAPAATQAAPQ...
1223        NaN  MESNQSNNGGSGNAALNRGGRYVPPHLRGGDGGAAAAASAGGDDRR...
1224        NaN  MESNQSNNGGSGNAALNRGGRYVPPHLRGGDGGAAAAASAGGDDRR...
1253        NaN  MKKKKTAPTPPKRSGGSDLNMPAYVKFNYMAEREDELSLIKGTKVI...
1254        NaN  MKKKKTAPTPPKRSGGSDLNMPAYVKFNYMAEREDELSLIKGTKVI...
1255        NaN  MKKKKTAPTPPKRSGGSDLNMPAYVKFNYMAEREDELSLIKGTKVI...
1256        NaN  MKKKKTAPTPPKRSGGSDLNMPAYVKFNYMAEREDELSLIKGTKVI...
1257        NaN  MKKKKTAPTPPKRSGGSDLNMPAYVKFNYMAEREDELSLIKGTKVI...
1258        NaN  MKKKKTAPTPPKRSGGSDLNMPAYVKFNYMAEREDELSLIKGTKVI...
1262        NaN  MGSSHHHHHHSSGLVPRGSHMESNQSNNGGSGNAALNRGGRYVPPH...
1276        NaN  MGVEIETISPGDGRTFPKKGQTCVVHYTGMLQNGKKMDSSRDRNKP...
1326        NaN  MESNQSNNGGSGNAALNRGGRYVPPHLRGGDGGAAAAASAGGDDRR...
1327        NaN  MSYYHHHHHHDYDIPTTENLYFQGAMEGLNDIFEAQKIEWHEMSDS...

In [301]:
for index, row in null_rows.iterrows():
    LLPS_data.at[index,'UniProt ID'] = 'NU_{}'.format(index)
LLPS_data

      UniProt ID                                                seq
0         P35637  MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1         O43670  MAMSSLGCLCALTVLIRYCNRDFDDEKILIQHQKAKHFKCHICHKK...
2         P09651  MSKSESPKEPEQLRKLFIGGLSFETTDESLRSHFEQWGTLTDCVVM...
3         P10636  MAEPRQEFEVMEDHAGTYGLGDRKDQGGYTMHQDQEGDTDAGLKES...
4         Q13148  MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...
...          ...                                                ...
1349      Q9NRR5  LPVFLQQMQNPESLSILTNPRAMQALLQIQQGLQTLQTEAPGLVPS...
1350      K7DPS7  MASNEYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1351      D0PV95  MESNQSNNGGSGNAALNRGGRYVPPHLRGGDGGAAAAASAGGDDRR...
1352      P35637  MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1353  A0A0G2UHG9  AAQGANAVHNDAAQSHSALAAANTFGHGHAPYAAYGHGVYGHGPYG...

[1354 rows x 2 columns]

In [302]:
Insoluble_data.head()

,id,seq,weight,seqlen
0,Insoluble_0,MQQVRQSPQSLTVWEGETAILNCSYENSAFDYFPWYQQFPGEGPAL...,12.689084,114
1,Insoluble_1,DDAENIEYKVSISGTSVELTCPLDSDENLKWEKNGQELPQKHDKHL...,20.603590,186
2,Insoluble_2,GGIAIYWGQNGNEGTLTQTCSTRKYSYVNIAFLNKFGNGQTPQINL...,29.431888,273
3,Insoluble_3,ATSTVTGGYAQSDAQGQMNKMGGFNLKYRYEEDNSPLGVIGSFTYT...,16.359642,148
4,Insoluble_4,MNTPEHMTAVVQRYVAALNAGDLDGIVALFADDATVENPVGSEPRS...,13.409055,125

### 判断不可溶蛋白是否出现在LLPS数据集中

计算两个集合的交集，如果交集为空，那就说明LLPS数据集中不存在不可溶的蛋白

In [303]:

set(LLPS_data['seq']) & set(Insoluble_data['seq'])

set()

### 删除含有非法字符的氨基酸序列

In [304]:
LLPS_data = LLPS_data[~LLPS_data['seq'].isnull()]
LLPS_data

      UniProt ID                                                seq
0         P35637  MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1         O43670  MAMSSLGCLCALTVLIRYCNRDFDDEKILIQHQKAKHFKCHICHKK...
2         P09651  MSKSESPKEPEQLRKLFIGGLSFETTDESLRSHFEQWGTLTDCVVM...
3         P10636  MAEPRQEFEVMEDHAGTYGLGDRKDQGGYTMHQDQEGDTDAGLKES...
4         Q13148  MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...
...          ...                                                ...
1349      Q9NRR5  LPVFLQQMQNPESLSILTNPRAMQALLQIQQGLQTLQTEAPGLVPS...
1350      K7DPS7  MASNEYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1351      D0PV95  MESNQSNNGGSGNAALNRGGRYVPPHLRGGDGGAAAAASAGGDDRR...
1352      P35637  MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1353  A0A0G2UHG9  AAQGANAVHNDAAQSHSALAAANTFGHGHAPYAAYGHGVYGHGPYG...

[1353 rows x 2 columns]

In [305]:
import re
LLPS_data['seq'] = LLPS_data['seq'].apply(lambda x:str(x).upper())
pattern = re.compile('[^ACDEFGHIKLMNPQRSTVWY]')
# 删除包含非法字符的行
LLPS_data = LLPS_data[~LLPS_data['seq'].str.contains(pattern)]
LLPS_data

/tmp/ipykernel_2130588/1031066572.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LLPS_data['seq'] = LLPS_data['seq'].apply(lambda x:str(x).upper())

      UniProt ID                                                seq
0         P35637  MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1         O43670  MAMSSLGCLCALTVLIRYCNRDFDDEKILIQHQKAKHFKCHICHKK...
2         P09651  MSKSESPKEPEQLRKLFIGGLSFETTDESLRSHFEQWGTLTDCVVM...
3         P10636  MAEPRQEFEVMEDHAGTYGLGDRKDQGGYTMHQDQEGDTDAGLKES...
4         Q13148  MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...
...          ...                                                ...
1349      Q9NRR5  LPVFLQQMQNPESLSILTNPRAMQALLQIQQGLQTLQTEAPGLVPS...
1350      K7DPS7  MASNEYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1351      D0PV95  MESNQSNNGGSGNAALNRGGRYVPPHLRGGDGGAAAAASAGGDDRR...
1352      P35637  MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...
1353  A0A0G2UHG9  AAQGANAVHNDAAQSHSALAAANTFGHGHAPYAAYGHGVYGHGPYG...

[1351 rows x 2 columns]

### 删除LLPS 数据库中分子量较大的序列
使用biopython 库中的`ProteinAnalysis`计算分子量，大于上四分位数即75kd的序列将被删除

In [306]:
from Bio.SeqUtils.ProtParam import ProteinAnalysis
def get_weight(seq):
    #print(seq)
    return(ProteinAnalysis(str(seq)).molecular_weight()/1000)
LLPS_data['weight'] = LLPS_data['seq'].apply(get_weight)

/tmp/ipykernel_2130588/919769873.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LLPS_data['weight'] = LLPS_data['seq'].apply(get_weight)

In [307]:
LLPS_data['weight'].describe()

count    1351.000000
mean       64.847903
std        58.699362
min         2.257621
25%        28.257619
50%        50.770798
75%        79.477156
max       794.048926
Name: weight, dtype: float64

In [308]:
lowllps = LLPS_data[LLPS_data['weight']<5]
lowllps

     UniProt ID                                               seq    weight
851      P35637          DRRGGRGGYDRGGYRGRGGDRGGFRGGRGGGDRGGFGPGK  4.027229
903      Q06787          RRGDGRRRGGGGRGQGGRGRGGGFKGNDDHSRTDNRPRNP  4.260460
1050     P15502              FPGFGVGVGGIPGVAGVPGVGGVPGVGGVPGVGISP  3.027473
1080     P08621                               ERERRRDRDRDRDRDREHK  2.651777
1081     P08621                               ARARRRARARARARARAHK  2.257621
1121     P26368           RSHSRSRSRDRKRRSRSRDRRNRDQRSASRDRRRRSKPL  4.990470
1151     O44490                    APVIPGTIGIPQHSQHPPQVDHDDADGIWA  3.169417
1268     Q8NC56  RARPAAASPRAEPWLSQPASGSAYATPGAYGDIRPSAASWVGSRGLAY  4.903345
1320     P69014                 MPRRRRSSSRPVRRRRRPRVSRRRRRRGGRRRR  4.381130

In [309]:
LLPS_data_cleaned = LLPS_data[LLPS_data['weight']<75]
LLPS_data_cleaned

      UniProt ID                                                seq     weight
0         P35637  MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...  53.425227
1         O43670  MAMSSLGCLCALTVLIRYCNRDFDDEKILIQHQKAKHFKCHICHKK...  52.658154
2         P09651  MSKSESPKEPEQLRKLFIGGLSFETTDESLRSHFEQWGTLTDCVVM...  38.746185
4         Q13148  MSEYIRVTEDENDEPIEIPSEDDGTVLLSTVTAQFPGACGLRYRNP...  44.739339
5         O43561  MEATAASWQVAVPVLGGASRPLGPRGAASLLRAPLQMEEAILVPCV...  28.567288
...          ...                                                ...        ...
1348      Q9UHD9  LPAFLQQMQNPDTLSAMSNPRAMQALMQIQQGLQTLATEAPGLIPS...  19.610071
1349      Q9NRR5  LPVFLQQMQNPESLSILTNPRAMQALLQIQQGLQTLQTEAPGLVPS...  16.466334
1350      K7DPS7  MASNEYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...  53.330259
1352      P35637  MASNDYTQQATQSYGAYPTQPGQGYSQQSSQPYGQQSYSGYSQSTD...  21.554259
1353  A0A0G2UHG9  AAQGANAVHNDAAQSHSALAAANTFGHGHAPYAAYGHGVYGHGPYG...   9.147744

[975 rows x 3 columns]

In [310]:
LLPS_data_cleaned['weight'].describe()

count    975.000000
mean      38.606791
std       18.482238
min        2.257621
25%       21.596780
50%       39.620296
75%       52.959587
max       74.844182
Name: weight, dtype: float64

In [311]:
with open('./cleaned_data/llps_data_cleaned.fasta','w') as llps_file:
    for index, row in LLPS_data_cleaned.iterrows():
        llps_file.write('>'+row['UniProt ID']+'\n'+row['seq']+'\n')
llps_file.close()
LLPS_data_cleaned.to_csv('./cleaned_data/llps_data_cleaned.csv',index=False)

In [312]:
LLPSDB_D_data

,Unnamed: 0,PSID,Entry ID,Protein ID,Protein name,Repeat,Sequence,seq
0,291,PS00000465,LLPS000480,p0026,GR,20,>LLPS000480 synthetic construct [GR]20|length=...,GRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGR
1,293,PS00000467,LLPS000481,p0027,PR,20,>LLPS000481 synthetic construct [PR]20|length=...,PRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPR
2,302,PS00000480,LLPS000482,p0027,PR,30,>LLPS000482 synthetic construct [PR]30|length=...,PRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPR...
3,394,PS00000626,LLPS000534,p0037,IP5,-,>LLPS000534 synthetic construct [IP5]|length=3...,QGTFTSDKESKYLDERAAQDFVQWLLDGGPSSGAPPPS
4,458,PS00000734,LLPS000625,p0056,AVPGVG,25,>LLPS000625 [AVPGVG]25|length=150aa\nAVPGVGAVP...,AVPGVGAVPGVGAVPGVGAVPGVGAVPGVGAVPGVGAVPGVGAVPG...
...,...,...,...,...,...,...,...,...
122,4090,PS00006461,LLPS002696,p0602,KGKGG,5,>LLPS002696 [KGKGG]5|length=25aa\nKGKGGKGKGGKG...,KGKGGKGKGGKGKGGKGKGGKGKGG
123,4105,PS00006520,LLPS002738,p0617,SKGP-[GRGDQPYQ]20-GY,-,>LLPS002738 SKGP-[GRGDQPYQ]20-GY|length=166aa\...,SKGPGRGDQPYQGRGDQPYQGRGDQPYQGRGDQPYQGRGDQPYQGR...
124,4107,PS00006524,LLPS002747,p0613,SKGP-[GRGDSPYS]20-GY,-,>LLPS002747 SKGP-[GRGDSPYS]20-GY|length=166aa\...,SKGPGRGDSPYSGRGDSPYSGRGDSPYSGRGDSPYSGRGDSPYSGR...
125,4108,PS00006525,LLPS002745,p0618,SKGP-[GRGDSPYQ]20-GY,-,>LLPS002745 SKGP-[GRGDSPYQ]20-GY|length=166aa\...,SKGPGRGDSPYQGRGDSPYQGRGDSPYQGRGDSPYQGRGDSPYQGR...
126,4109,PS00006526,LLPS002741,p0619,SKGP-[GRGDQPYS]20-GY,-,>LLPS002741 SKGP-[GRGDQPYS]20-GY|length=166aa\...,SKGPGRGDQPYSGRGDQPYSGRGDQPYSGRGDQPYSGRGDQPYSGR...

In [313]:
LLPSDB_D_data['len'] = LLPSDB_D_data['seq'].apply(lambda x : len(x))
LLPSDB_D_data['len'].describe()

count    127.000000
mean     201.653543
std      132.679670
min        0.000000
25%      132.000000
50%      168.000000
75%      236.000000
max      665.000000
Name: len, dtype: float64

In [314]:
LLPSDB_D_data=LLPSDB_D_data[LLPSDB_D_data['len']>5]
LLPSDB_D_data

,Unnamed: 0,PSID,Entry ID,Protein ID,Protein name,Repeat,Sequence,seq,len
0,291,PS00000465,LLPS000480,p0026,GR,20,>LLPS000480 synthetic construct [GR]20|length=...,GRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGRGR,40
1,293,PS00000467,LLPS000481,p0027,PR,20,>LLPS000481 synthetic construct [PR]20|length=...,PRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPR,40
2,302,PS00000480,LLPS000482,p0027,PR,30,>LLPS000482 synthetic construct [PR]30|length=...,PRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPRPR...,60
3,394,PS00000626,LLPS000534,p0037,IP5,-,>LLPS000534 synthetic construct [IP5]|length=3...,QGTFTSDKESKYLDERAAQDFVQWLLDGGPSSGAPPPS,38
4,458,PS00000734,LLPS000625,p0056,AVPGVG,25,>LLPS000625 [AVPGVG]25|length=150aa\nAVPGVGAVP...,AVPGVGAVPGVGAVPGVGAVPGVGAVPGVGAVPGVGAVPGVGAVPG...,150
...,...,...,...,...,...,...,...,...,...
122,4090,PS00006461,LLPS002696,p0602,KGKGG,5,>LLPS002696 [KGKGG]5|length=25aa\nKGKGGKGKGGKG...,KGKGGKGKGGKGKGGKGKGGKGKGG,25
123,4105,PS00006520,LLPS002738,p0617,SKGP-[GRGDQPYQ]20-GY,-,>LLPS002738 SKGP-[GRGDQPYQ]20-GY|length=166aa\...,SKGPGRGDQPYQGRGDQPYQGRGDQPYQGRGDQPYQGRGDQPYQGR...,166
124,4107,PS00006524,LLPS002747,p0613,SKGP-[GRGDSPYS]20-GY,-,>LLPS002747 SKGP-[GRGDSPYS]20-GY|length=166aa\...,SKGPGRGDSPYSGRGDSPYSGRGDSPYSGRGDSPYSGRGDSPYSGR...,166
125,4108,PS00006525,LLPS002745,p0618,SKGP-[GRGDSPYQ]20-GY,-,>LLPS002745 SKGP-[GRGDSPYQ]20-GY|length=166aa\...,SKGPGRGDSPYQGRGDSPYQGRGDSPYQGRGDSPYQGRGDSPYQGR...,166
126,4109,PS00006526,LLPS002741,p0619,SKGP-[GRGDQPYS]20-GY,-,>LLPS002741 SKGP-[GRGDQPYS]20-GY|length=166aa\...,SKGPGRGDQPYSGRGDQPYSGRGDQPYSGRGDQPYSGRGDQPYSGR...,166

In [315]:
llpsdn_d_file = open('./cleaned_data/llpsdb_d.fasta','w')
for seq in LLPSDB_D_data['Sequence']:
    llpsdn_d_file.write(seq+'\n')

In [316]:
LLPSDB_D_data[['Entry ID','seq']].to_csv('./cleaned_data/llpsdb_d.csv',index='False')

In [317]:
def df_protein_clean(df,seq = 'seq',min_length = 5,max_weight = 75):
    df =df[~df[seq].isnull()]
    pattern = re.compile('[^ACDEFGHIKLMNPQRSTVWY]')
    # 删除包含非法字符的行
    df = df[~df[seq].str.contains(pattern)]
    
    df['weight'] = df[seq].apply(lambda x: ProteinAnalysis(x).molecular_weight()/1000 )
    df['len'] = df[seq].apply(lambda x: len(x))
    df = df[df['len']>min_length]
    df = df[df['weight']<max_weight]
    
    df = df.drop(columns=['weight','len'])
    return(df)

In [318]:
DisPort_data = df_protein_clean(DisPort_data,seq='sequence')
DisPort_data.rename(columns={'sequence':'seq','acc':'id'},inplace=True)

In [319]:
Structure_data = df_protein_clean(Structure_data)
Structure_data

                                                    seq              id
0     YKVTLKTPSGEETIECPEDTYILDAAEEAGLDLPYSCRAGACSSCA...     Structure_0
1     MKVTKSEIVISAVKPEQYPEGGLPEIALAGRSNVGKSSFINSLINR...     Structure_1
2     MAAAVPQRAWTVEQLRSEQLPKKDIIKFLQEHGSDSFLAEHKLLGN...     Structure_2
3     MYQLQFINLVYDTTKLTHLEQTNINLFIGNWSNHQLQKSICIRHGD...     Structure_3
4     SQSVVATQLIPMNTALTPVMMEGKVTNPIGIPFAEMSQIVGKQVNT...     Structure_4
...                                                 ...             ...
1548  MKKKIGLLVMAYGTPYKEEDIERYYTHIRRGRKPSPEMLEDLTERY...  Structure_1548
1549  MENNEIQSVLMNALSLQEVHVSGDGSHFQVIAVGELFDGMSRVKKQ...  Structure_1549
1550  MDDDIAALVVDNGSGMCKAGFAGDDAPRAVFPSIVGRPRHQGVMVG...  Structure_1550
1551  MSKVSFKITLTSDPRLPYKVLSVPESTPFTAVLKFAAEEFKVPAAT...  Structure_1551
1552  MDEILARAGIFQGVEPSAIAALTKQLQPVDFPRGHTVFAEGEPGDR...  Structure_1552

[1516 rows x 2 columns]

In [320]:
Insoluble_data =df_protein_clean(Insoluble_data)
Insoluble_data

                id                                                seq  seqlen
0      Insoluble_0  MQQVRQSPQSLTVWEGETAILNCSYENSAFDYFPWYQQFPGEGPAL...     114
1      Insoluble_1  DDAENIEYKVSISGTSVELTCPLDSDENLKWEKNGQELPQKHDKHL...     186
2      Insoluble_2  GGIAIYWGQNGNEGTLTQTCSTRKYSYVNIAFLNKFGNGQTPQINL...     273
3      Insoluble_3  ATSTVTGGYAQSDAQGQMNKMGGFNLKYRYEEDNSPLGVIGSFTYT...     148
4      Insoluble_4  MNTPEHMTAVVQRYVAALNAGDLDGIVALFADDATVENPVGSEPRS...     125
..             ...                                                ...     ...
572  Insoluble_992  MGSDKIHHHHHHMHSLLPFRFLFHWEMQAIGVAEMSMLVVVTENVP...     128
573  Insoluble_993  MGSDKIHHHHHHVMKLTVLQQAIRLLAYRRMFLTNLTPVDQVRTLI...     282
574  Insoluble_994  MGSDKIHHHHHHMKKTIQSVGVWGDSIMKGVLFNPEKNRYTLLKNN...     245
575  Insoluble_995  KELESIDNDNTLTTDEKAAAKKKVNDAYDVAKQTAMEANSYEDLTT...      74
576  Insoluble_997  MSLESHSLYFPRNLQLPEGEVDLQLDTMRLEDRPGRQTVPVTVLVD...     197

[577 rows x 3 columns]

In [321]:
set(LLPS_data['seq']) & set(Structure_data['seq'])

set()

In [322]:
set(LLPS_data['seq']) & set(DisPort_data['seq'])

set()

In [323]:
DisPort_sample = DisPort_data.sample(400,replace=False)
DisPort_sample

,ID50,ID90,id,seq
1864,P48730,P48730,Q06486,MELRVGNRYRLGRKIGSGSFGDIYLGTDIAAGEEVAIKLECVKTKH...
876,P45985,P45985,P45985,MAAPSPSGGGGSGGGSGSGTPGPVGSPAPGHPAVSSMQGKRKALKL...
1643,Q9BQ50,Q9BQ50,Q9BQ50,MSEAPRAETFVFLDLEATGLPSVEPEIAELSLFAVHRSSLENPEHD...
1955,P02522,P62696,P62696,MASDHQTQAGKPQPLNPKIIIFEQENFQGHSHELSGPCPNLKETGM...
962,P26367,P26367,P26367,MQNSHSGVNQLGGVFVNGRPLPDSTRQKIVELAHSGARPCDISRIL...
...,...,...,...,...
2181,P04608,P04610,P69697,MEPVDPRLEPWKHPGSQPKTACTNCYCKKCCFHCQVCFITKALGIS...
146,P10451,P10451,P10451,MRIAVICFCLLGITCAIPVKQADSGSSEEKQLYNKYPDAVATWLNP...
1609,Q65DH1,A7GMR0,Q81G39,MKLLEQIEKWAAETPDQTAFVWRDAKITYKQLKEDSDALAHWISSE...
944,O70480,O70480,O70480,MPPKFKRHLNDDDVTGSVKSERRNLLEDDSDEEEDFFLRGPSGPRF...
1208,A0A0C4FST8,A0A2K8FR49,A0A2K8FR49,MASHGQSYRAGEATGRAEEKADQMMGKTRGATEAMKNKAQQAKDKT...

In [324]:
Structure_sample = Structure_data.sample(300,replace = False)
Structure_sample

                                                    seq              id
832   MRYPVTLTPAPEGGYMVSFVDIPEALTQGETVAEAMEAAKDALLTA...   Structure_832
1087  MRVIFSEDHKLRNAKTELYGGELVPPFEAPFRAEWILAAVKEAGFD...  Structure_1087
1534  MDHYLDIRLRPDPEFPPAQLMSVLFGKLHQALVAQGGDRIGVSFPD...  Structure_1534
243   MEKALKIDTPQQGSIQDINHRVWVLQDQTLIAVPRKDRMSPVTIAL...   Structure_243
483   DINGGGATLPQKLYLTPDVLTAGFAPYIGVGSGKGKIAFLENKYNQ...   Structure_483
...                                                 ...             ...
1394  MIRHFLRDDDLSPAEQAEVLELAAELKKDPVSRRPLQGPRGVAVIF...  Structure_1394
654   MATALYTANDFILISLPQNAQPVTAPGSKTDSWFNETLIGGRAFVS...   Structure_654
826   MFGNLQGKFIIATPEMDDEYFDRTVIYICEHNDNGTIGVIINTPTD...   Structure_826
743   MKECVVWTVNLDSKKSRAEGRRIPRRFAVPNVKLHELVEACKELGL...   Structure_743
288   MATFSLGKHPHVELCDLLKLEGWSESGAQAKIAIAEGQVKVDGAVE...   Structure_288

[300 rows x 2 columns]

In [325]:
Insoluble_sample  =Insoluble_data.sample(300,replace=False)
Insoluble_sample

                id                                                seq  seqlen
475  Insoluble_820  MGSDKIHHHHHHMTAPKTTGKPTGRSAGKREPCRPRRSRRPAAETR...     234
297  Insoluble_520  MKKKERHEKILDILKVDGFIKVKDIIDEMNISDMTARRDLDTLADK...     265
219  Insoluble_390  MGHHHHHHSHMSFSSRPVPEILKTSHLLCWETRLTSKTDKWPQSGH...     241
90   Insoluble_171  MSNYTENNFYPLDEEQRQQPYASHPYGYPYPQPYYPAAYPYYYYPQ...     186
211  Insoluble_380  MGSDKIHHHHHHMKKIPKDTDAILNLLAVKIKYDIMDIAEFEKMTD...     213
..             ...                                                ...     ...
106  Insoluble_198  MGSDKIHHHHHHMLDKTHRPTWTRMEDASKEDFLAVMAYDDHFNAG...     208
266  Insoluble_462  SSLFKGPRDYNPISSTICHLTNESDGHTTSLYGIGFGPFIITNKHL...     241
347  Insoluble_607  MGSDKIHHHHHHMITVVDLGNFNIKYKSGSNQGNFSSKITDYQPYP...     302
247  Insoluble_433  MAHHHHHHMQSRVRLLYLEFMYLLPQLKGFYSPQGAAVAPKAPASG...     277
42    Insoluble_81  MGHHHHHHSHMRVEITARNVKELLKKIDETLNEDVTEVYINLRPTK...     146

[300 rows x 3 columns]

In [326]:
negative_sample = pd.concat([DisPort_sample[['id','seq']],Structure_sample[['id','seq']],Insoluble_sample[['id','seq']]])
negative_sample

                 id                                                seq
1864         Q06486  MELRVGNRYRLGRKIGSGSFGDIYLGTDIAAGEEVAIKLECVKTKH...
876          P45985  MAAPSPSGGGGSGGGSGSGTPGPVGSPAPGHPAVSSMQGKRKALKL...
1643         Q9BQ50  MSEAPRAETFVFLDLEATGLPSVEPEIAELSLFAVHRSSLENPEHD...
1955         P62696  MASDHQTQAGKPQPLNPKIIIFEQENFQGHSHELSGPCPNLKETGM...
962          P26367  MQNSHSGVNQLGGVFVNGRPLPDSTRQKIVELAHSGARPCDISRIL...
...             ...                                                ...
106   Insoluble_198  MGSDKIHHHHHHMLDKTHRPTWTRMEDASKEDFLAVMAYDDHFNAG...
266   Insoluble_462  SSLFKGPRDYNPISSTICHLTNESDGHTTSLYGIGFGPFIITNKHL...
347   Insoluble_607  MGSDKIHHHHHHMITVVDLGNFNIKYKSGSNQGNFSSKITDYQPYP...
247   Insoluble_433  MAHHHHHHMQSRVRLLYLEFMYLLPQLKGFYSPQGAAVAPKAPASG...
42     Insoluble_81  MGHHHHHHSHMRVEITARNVKELLKKIDETLNEDVTEVYINLRPTK...

[1000 rows x 2 columns]

In [327]:
lenth_n = negative_sample['seq'].apply(lambda x:len(x))
lenth_n.describe()

count    1000.000000
mean      247.008000
std       145.105912
min        19.000000
25%       136.750000
50%       215.500000
75%       304.000000
max       711.000000
Name: seq, dtype: float64

In [328]:
negative_data = pd.concat([DisPort_data[['id','seq']],Structure_data[['id','seq']],Insoluble_data[['id','seq']]])
negative_data

                id                                                seq
0           P49913  MKTQRDGHSLGRWSLVLLLLGLVMPLAIIAQVLSYKEAVLRAIDGI...
1           P03045  MDAQTRRRERRAEKQAQWKAANPLLVGVSAKPVNRPILSLNRKPKS...
2           P00004  MGDVEKGKKIFVQKCAQCHTVEKGGKHKTGPNLHGLFGRKTGQAPG...
3           P27695  MPKRGKKGAVAEDGDELRTEPEAKKSKTAAKKNDKEAAGEGPALYE...
4           Q64693  MLWQKSTAPEQAPAPPRPYQGVRVKEPVKELLRRKRGHTSVGAAGP...
..             ...                                                ...
572  Insoluble_992  MGSDKIHHHHHHMHSLLPFRFLFHWEMQAIGVAEMSMLVVVTENVP...
573  Insoluble_993  MGSDKIHHHHHHVMKLTVLQQAIRLLAYRRMFLTNLTPVDQVRTLI...
574  Insoluble_994  MGSDKIHHHHHHMKKTIQSVGVWGDSIMKGVLFNPEKNRYTLLKNN...
575  Insoluble_995  KELESIDNDNTLTTDEKAAAKKKVNDAYDVAKQTAMEANSYEDLTT...
576  Insoluble_997  MSLESHSLYFPRNLQLPEGEVDLQLDTMRLEDRPGRQTVPVTVLVD...

[3812 rows x 2 columns]

In [329]:
negative_sample.to_csv('./cleaned_data/negative_sample.csv',index=False)
negative_data.to_csv('./cleaned_data/negative_data.csv',index=False)

In [14]:
import os
def df2fasta(df,name,id = 'id',seq = 'seq',dir = None):
    # print('./cleaned_data/{}.csv'.format(name))
    print(dir)
    with open(dir,'w') as file:
        for index, row in df.iterrows():
            file.write('>'+row[id]+'_'+str(row['label'])+'\n'+row[seq]+'\n')
    file.close()
# df2fasta(negative_sample,'negative_sample')
# df2fasta(negative_data,'negative_data')

In [16]:
import pandas as pd
for file in os.listdir('./dataset1.0/'):
    print(file)
    if(file.endswith('.csv')):
        df = pd.read_csv(os.path.join('./dataset1.0/',file))
        if file =='llpsdb_d.csv':df['label'] = 1
        df2fasta(df,file,dir='./dataset1.0/{}.fasta'.format(file.split('.')[0]))

test_data_2023-6-2-21:58.csv
./dataset1.0/test_data_2023-6-2-21:58.fasta
llpsdb_d.csv
./dataset1.0/llpsdb_d.fasta
negative_train_3457.csv
./dataset1.0/negative_train_3457.fasta
positive_train_422.csv
./dataset1.0/positive_train_422.fasta